.footer__link {
  padding: 0 0 0 4%;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration-line: none;
}

@media screen and (max-width: 750px) {
  .footer__link {
    font-size: 24px;
    padding-bottom: 32px;
  }
}

