.footer__copyright {
  margin: 0 4% 0 4%;
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 0 0 0 18px;
  }
}
