.place__link {
  max-width: 456px;
  font-family: 'Inter Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  align-self: flex-start;
}

.place__link:hover {
  opacity: 0.8;
}

