.place {
  display: grid;
  max-width: 984px;
  margin: 0 auto 80px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
}

.place:last-of-type {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 32px 40px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 28px 40px;
    margin: 0 3% 80px;
  }
}

@media screen and (max-width: 571px) {
  .place {
    gap: 28px 40px;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    margin: 0 auto 50px;
  }
}
