.place__website {
  max-width: 456px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0;
  justify-content: flex-end;
  align-self: end;
}

@media screen and (max-width : 320px) {
  .place__website {
    margin: 3%;
  }
}
